@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------------scrollbar------------------ */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(157, 149, 231);
    height: 4px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d1cfff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a8aed6;
}

::selection {
    background-color: #73fff8;
    color: white;
}

img,
svg {
    pointer-events: none;
    user-select: none;
}
